@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.h1-chat-welcome-title {
    padding-top: 0.05rem !important;
    padding-bottom: 0.05rem !important;
    background: linear-gradient(
        45deg,
        #BE6887 20%,
        #8778CA 30%,
        #BE6887 40%,
        #8778CA 50%,
        #BE6887 60%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 10s ease-in-out infinite alternate;
    font-size: 60px;
    font-weight: bold;
    font-family: "Inter", sans-serif !important;
}

.h1-chat-welcome-subtitle {
    padding-top: 0.50rem !important;
    background: linear-gradient(45deg, #444746, #444746);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-size: 60px;
    font-weight: bold;
    font-family: "Inter", sans-serif !important;
}

.h1-vsrd-1 {
    padding-top: 0.25rem !important;
    padding-bottom: 1.75rem !important;
}

.h2-vsrd-1 {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}

.h2-vsrd-2 {
    padding-top: 2.2rem !important;
    padding-bottom: 0.25rem !important;
}

.h2-vsrd-3 {
    padding-top: 0.05rem !important;
    padding-bottom: 0.25rem !important;
}

.p-vsrd-1 {
    margin-bottom: 0.2rem !important;
}

.p-rsr-1 {
    margin-top: 0.88rem !important;
    margin-bottom: 0.40rem !important;
}

.h4-recent-service-request {
    padding-top: 0.8rem !important;
    padding-bottom: 2rem !important;
}

.p-service-request-request-id-serial-number {
    margin-top: 0.2rem !important;
    margin-bottom: 0.85rem !important;
}

.div-truncate-text {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: box;
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.div-single-line-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: block;
}

h3.single-line-truncate,
h5.single-line-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: block;
}
