@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.h1-home-welcome-title {
    padding-top: 0.05rem !important;
    padding-bottom: 0.05rem !important;
    background: linear-gradient(
        45deg,
        #BE6887 20%,
        #8778CA 30%,
        #BE6887 40%,
        #8778CA 50%,
        #BE6887 60%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 10s ease-in-out infinite alternate;
    font-size: 60px;
    font-weight: bold;
    font-family: "Inter", sans-serif !important;
}

.h1-home-welcome-subtitle {
    padding-top: 0.50rem !important;
    background: linear-gradient(45deg, #444746, #444746);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-size: 60px;
    font-weight: bold;
    font-family: "Inter", sans-serif !important;
}

.h5-profile-snapshot {
    padding-top: 0.1rem !important;
    padding-bottom: 0.25rem !important;
}

.h6-profile-snapshot-metric {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
}

.p-route-optimization-card {
    padding-top: 0.1rem !important;
    padding-bottom: 0.25rem !important;
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
}

.p-profile-snapshot-metric {
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
}

.hr-profile-snapshot {
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
}

.h2-ticket-details-appliance-title{
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}

.p-ticket-details-ribbon-title{
    margin-bottom: 0.2rem !important;
}

.h4-ticket-details-ribbon-title{
    padding-top: 0.1rem !important;
    padding-bottom: 1.75rem !important;
}

.h5-ticket-details-status {
    padding-top: 0.55rem !important;
    padding-bottom: 0rem !important;
}

.p-ticket-details-appliance-history-status {
    margin-top: 0.63rem !important;
    margin-bottom: 0.35rem !important;
}


.p-service-request-request-id-serial-number {
    margin-top: 0.2rem !important;
    margin-bottom: 0.85rem !important;
}

.p-service-request-status {
    margin-top: 0.95rem !important;
    margin-bottom: 0rem !important;
}

.p-profile-snapshot-recent-requests {
    margin-top: 0.4rem !important;
    margin-bottom: 1.1rem !important;
}

.div-truncate-text {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: box;
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.h1-vsrd-1 {
    padding-top: 0.25rem !important;
    padding-bottom: 1.75rem !important;
}

.h2-vsrd-1 {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}

.h2-vsrd-2 {
    padding-top: 2.2rem !important;
    padding-bottom: 0.25rem !important;
}

.h2-vsrd-3 {
    padding-top: 0.05rem !important;
    padding-bottom: 0.25rem !important;
}

.h2-metrics-card-title {
    padding-top: 0.05rem !important;
    padding-bottom: 1rem !important;
}

.p-metrics-card-text {
    margin-top: 0.1rem !important;
    margin-bottom: 0rem !important;
}

.h5-vsrd-3 {
    padding-top: 0rem !important;
    padding-bottom: 0.25rem !important;
}

.p-vsrd-1 {
    margin-bottom: 0.2rem !important;
}

